[Unit]
Description=Start the gameloop
After=multi-user.target


[Service]
ExecStart=/usr/bin/python3 /home/pi/knappespillet/testConfig.py
Restart=always
RestartSec=10s
KillMode=process
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
