[Unit]
Description=Start the gameloop
After=multi-user.target


[Service]
ExecStart=/home/makerspace/knappespillet/venv/bin/python3 src/autorun.py
WorkingDirectory=/home/makerspace/knappespillet
Restart=always
RestartSec=10s
KillMode=process
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
